* {
    outline: none;
}

.modMenuOverlay {
    position: absolute;
    z-index: 99992;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    pointer-events: none;
    user-select: none;
}

.modMenuOverlay span {
    color: #fff;
}

.modMenuOverlay label {
    color: #fff;
}

.modMenuOverlay input {
    pointer-events: auto;
}

button {
    pointer-events: auto;
}

.button {
    border: 2px solid #fff;
    padding: 5px 10px;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
}

.open-btn {
    position: absolute;
    left: 10%;
    top: 3px;
    width: 60px;
    font-size: 14px;
    height: 30px
}

.flex {
    display: flex;
    justify-content: center;
}

.open-btn {
    position: absolute;
    left: 10%;
    top: 5px;
}

#Modmenu {
    width: 600px;
    height: 450px;
    background-color: #333;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 15px;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
}

.top-menu {
    width: 100%;
    height: 50px;
    background-color: #222;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    position: absolute;
}

.title {
    color: #fff;
    margin: 5px 55px;
    font-weight: 500;
}

.close-btn {
    position: absolute;
    right: 5px;
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 20px;
    transition: .3s ease-out;
    box-shadow: inset 0 0 15px #B43E3E;
    width: 40px;
}

.close-btn:hover {
    background-color: #B43E3E;
    transition: .3s ease-out;
    box-shadow: inset 0 0 10px transparent;
}

.Modmenu__inner {
    margin: 50px 0px;
}

.Logo {
    width: 50px;
    height: 50px;
    position: absolute;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#KeyBindingsButton {
    margin: 15px 10px 5px;
}

.OptionsButton {
    margin: 5px 10px;
    width: 96%;
    padding: 6px;
    background-color: #222;
    border: none;
    border-radius: 8px;
    color: #D5D5D5;
    cursor: pointer;
    font-size: 18px;
    transition: .2s;
}

.OptionsButton:hover {
    background-color: #444;
    transition: .2s;
}

.slider {
    border-radius: 20px;
    appearance: none;
    width: 100%;
    height: 25px;
    background: #222;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #2F2FC5;
    cursor: pointer;
    border-radius: 50%;
    border: 4px solid #222;
}

.ChangeOpacity {
    width: 160px;
    text-align: center;
    margin-left: 10px;
}

.ChangeMenuColor {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}

.changeColor {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 33px;
    height: 35px;
    border: none;
    cursor: pointer;
}

.changeColor::-webkit-color-swatch {
    border-radius: 50%;
    border: 2px solid #222;
}

.ChangeColor::-moz-color-swatch {
    border-radius: 50%;
    border: 2px solid #000000;
}

.MenuOptions {
    display: flex;
    background-color: #444;
    width: 60%;
    border-radius: 15px;
    bottom: 10px;
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
}

.Info-Btn {
    position: absolute;
    top: 89%;
    left: 65%;
    padding: 5px;
    width: 33%;
    background-color: #222;
    border-radius: 10px;
    border: 2px solid transparent;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    transition: .3s;
}

.Info-Btn:hover {
    border: 2px solid #2F2FC5;
    transition: .3s;
}

.SocialMedia-Btn {
    position: absolute;
    top: 79%;
    left: 65%;
    padding: 5px;
    width: 33%;
    background-color: #222;
    border-radius: 10px;
    border: 2px solid transparent;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    transition: .3s;
}

.SocialMedia-Btn:hover {
    border: 2px solid #2F2FC5;
    transition: .3s;
}

.ExtraBtns p {
    position: absolute;
    width: 200px;
    left: 65%;
    color: #E5E5E5;
    text-align: center;
    top: 73%;
}

.keybinding {
    color: #fff;
    background-color: #666;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    width: 40px;
    padding: 10px 15px;
    text-align: center;
    height: 5px;
}

.Option-tab {
    position: absolute;
    background-color: #333;
    top: 12%;
    width: 100%;
    height: 88%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: none;
    opacity: 0;
}

.Option-tab h2 {
    color: #fff;
    text-align: center;
    font-weight: 600;
}

.backBtn {
    background-color: transparent;
    border: none;
    margin-top: 8px;
    position: absolute;
    cursor: pointer;
}

.backBtn img {
    width: 30px;
    margin-top: 2px;
    position: absolute;
}

.backBtn span {
    font-size: 30px;
    color: #fff;
    margin-left: 40px;
    cursor: pointer;
}

.KeyBindingsOption {
    background-color: #222;
    padding: 10px;
    border-radius: 10px;
    width: 70%;
    margin: 8px 0px;
    display: flex;
    justify-content: space-around;
}

.keybindings__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 320px;
    width: 95%;
    overflow: hidden;
    overflow-y: scroll;
}

.span__description {
    display: flex;
    align-items: center;
}

.reduceLagsOption {
    background-color: #222;
    padding: 10px;
    border-radius: 10px;
    width: 70%;
    margin: 10px 0px;
    display: flex;
    justify-content: space-around;
}

.RLT__inner {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.checkbox {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.SNT__inner{
    flex-direction: column;
    display: flex;
    align-items: center;
    overflow: hidden;
    max-height: 320px
}

.spanText {
    margin-top: 10px;
}

.divBtn {
    padding: 10px;
    margin: 0px 5px;
    font-size: 16px;
    background-color: #222;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.divBtn:hover {
    border: 2px solid #2F2FC5;
    transition: .3s;
}

.FunOption {
    background-color: #222;
    padding: 10px;
    border-radius: 10px;
    width: 70%;
    margin: 10px 0px;
    display: flex;
    justify-content: space-around;
    margin: 5px 0;
}

.FOT__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.OOT__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.otherOption {
    background-color: #222;
    padding: 10px;
    border-radius: 10px;
    width: 70%;
    margin: 10px 0px;
    display: flex;
    justify-content: space-around;
    margin: 5px 0;
    flex-wrap: wrap
}

.btn-Choose {
    padding: 5px 10px;
    background-color: #333;
    color: #e5e5e5;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
    font-size: 18px;
}

.btn-Choose:hover {
    border: 2px solid #2F2FC5;
}

.DarkWhiteTheme {
    background-color: #222;
    border-radius: 30px;
    height: 40px;
    align-items: center;
    display: flex;
    margin-top: 10px;
}

.night {
    background-image: url('https://i.ibb.co/2yfPkM5/dark.png');
    height: 40px;
    width: 40px;
    background-size: cover;
    border: 2px solid #222;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    transition: .3s;
    border-radius: 20px;
}

.night:hover {
    border: 2px solid #2b39ff;
    transition: .3s;
}

.light {
    background-image: url('https://i.ibb.co/416M4bM/light.png');
    height: 40px;
    width: 40px;
    background-size: cover;
    border: 2px solid #222;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 20px;
    transition: .3s;
}

.light:hover {
    border: 2px solid #2b39ff;
    transition: .3s;
}

.centerItem {
    display: flex;
    align-items: center;
    flex: auto;
    flex-direction: column;
    margin: 5px 0px;
}

.Colors {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#custom-div {
    background-color: #fff;
    width: 300px;
    height: 200px;
}

.install-Bot-Btn {
    padding: 3px;
    width: 33%;
    background-color: #333;
    border-radius: 10px;
    border: 2px solid transparent;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}

.install-Bot-Btn:hover {
    border: 2px solid #2F2FC5;
    transition: .3s;
}

#otherOptions-tab {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #222;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #666;
}

.scrollDiv {
    width: 95%;
    height: 320px;
    overflow-y: scroll;
}

.numberInput {
    width: 80px;
    outline: none;
    height: 20px;
    background-color: #333;
    border: 2px solid transparent;
    border-radius: 10px;
    margin-left: 10px;
    color: #fff;
    padding: 2px;
}

.alignCenter {
    display: flex;
    align-items: center;
    text-align: center;
}

.CSD {
    width: 200px;
    height: 50px;
    background-Color: #555;
    border-radius: 20px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99995;
    transition: .3s;
}

.comingSoonDiv {
    display: flex;
    justify-content: center;
    width: 100%;
    transition: .3s;
    position: absolute;
    top: 0;
}

.inputSkinText {
    text-align: center;
    width: 90px;
    outline: none;
    padding: 5px;
    background-color: #333;
    border: none;
    border-radius: 5px;
    margin: 0px 5px;
    color: #fff;
}

.hidden {
    visibility: hidden;
    display: none;
}
#spectateDiv {
    z-index: 99993;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #222;
    border-radius: 5px;
    padding: 5px 0px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.removeAds {
    display: none;
}

.toggler-wrapper.style-1 input[type="checkbox"]:checked+.toggler-slider .toggler-knob {
  left: calc(100% - 19px - 3px);
}

.toggler-wrapper.style-1 .toggler-knob {
  width: calc(25px - 6px);
  height: calc(25px - 6px);
  border-radius: 50%;
  left: 3px;
  top: 3px;
  background-color: #fff;
}

.toggler-wrapper {
  display: block;
  width: 45px;
  height: 25px;
  cursor: pointer;
  position: relative;
}

.toggler-wrapper input[type="checkbox"] {
  display: none;
}

.toggler-wrapper input[type="checkbox"]:checked+.toggler-slider {
  background-color: #74D38C;
}

.toggler-wrapper .toggler-slider {
  background-color: #8B8B8B;
  position: absolute;
  border-radius: 100px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.toggler-wrapper .toggler-knob {
  position: absolute;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

#skinFileLabel{
    background: #333;
    padding: 5px 10px;
    border-radius: 15px;
}

.NameLabel{
 cursor: pointer;
 font-weight: 500;
 display: flex;
 justify-content: center;
 align-items: center;
}

.savedNames-container{
 width: 50%;
 display:flex;
 justify-content: center;
 flex-direction: column;
 margin-top: 10px;
 overflow: hidden;
}

.saveNamesInputs{
 display: flex;
 justify-content: center;
}

#saveNameI{
 background: #222;
 border-radius: 10px;
 outline: none;
 text-align: center;
 border: 2px solid transparent;
 color: #fff;
}

.delName{
 font-weight: 500;
 background: #E17E7E;
 height: 20px;
 border-radius: 5px;
 font-size: 8px;
 margin-left: 5px;
 color: #fff;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 20px
}

.NameDiv{
 display: flex;
 background: #222;
 border-radius: 5px;
 margin: 5px;
 padding: 3px 8px;
}

#savedNames{
 justify-content: center;
 display: flex;
 flex-direction: row;
 overflow: hidden;
 overflow-y: scroll;
 max-height: 150px;
 flex-wrap: wrap;
}
